<style>
  
</style>
<nav class="navbar sticky-top navbar-expand-lg ps-5 pe-5 shadow-sm" style="background-color: rgba(255, 255, 255, 0.938);">
  <div class="container-fluid container ms-5 me-5">
    <a class="navbar-brand" href="/"><img src="/images/DIIA Logo Round.png" alt="" width="70"> Admin Panel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav gap-2 ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">Home</a>
        </li>
        {{#if user}}
        <a href="/admin/auth/logout">
          <button class="btn btn-outline-danger" type="submit">Logout</button>
        </a>
        {{/if}}
        
      </ul>
    </div>
  </div>
</nav>