<footer id="footer" class="pt-5">
    <div class="footer-head pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-3 mb-md-0">
                    <div>
                        <a href="/"><img class="" src="/images/DIIA Logo Round o.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-title">
                        <h3>Useful links</h3>
                    </div>
                    <div class="footer-contact">
                        <a href="https://www.portal.dhiu.in/Dashbord">
                            <p>Academic Portal</p>
                        </a>
                        <a href="https://portal.dhiu.in/parent">
                            <p>Parent Portal</p>
                        </a>
                        <a href="/forms">
                            <p>Official Forms</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-title">
                        <h3>Admission</h3>
                    </div>
                    <div class="footer-contact">
                        <a href="/admission/#secondary">
                            <p>Secondary</p>
                        </a>
                        <a href="/admission/#sen-secondary">
                            <p>Senior Secondary</p>
                        </a>
                        <a href="/admission/#degree">
                            <p>Degree</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-title">
                        <h3>Contact us</h3>
                    </div>
                    <div class="footer-contact">
                        <p><i class="fa-solid fa-location-dot"></i> Velluvangad South P.O, Pandikkad,
                            Malappuram, Kerala, India
                            PIN: 676 521</p>
                        <p><i class="fa-solid fa-phone"></i> +91 483 208 2814</p>
                        <p><i class="fa-solid fa-mobile"></i> +91 98473 71253</p>
                        <p><i class="fa-solid fa-envelope"></i> diiapandikkad@gmail.com</p>
                        <div class="footer-social">
                            <a href="https://www.facebook.com/profile.php?id=61552263635010"><i
                                    class="fa-brands fa-facebook me-2"></i></a>
                            <a href="https://www.youtube.com/@darulirfan8161"><i
                                    class="me-2 fa-brands fa-youtube"></i></a>
                            <a href="https://whatsapp.com/channel/0029Va8uXSD9RZAXMrkoD43l"><i
                                    class="fa-brands fa-whatsapp me-2"></i></a>
                            <a href="https://www.instagram.com/daru_lirfan/"><i
                                    class="fa-brands fa-instagram me-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-footer pt-3 pb-1">
        <div class="container">
            <div class="row text-center text-md-start">
                <div class="col-md-6">
                    <p>© 2023 DIIA Pandikkad. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p class="design text-center text-md-end">Designed by <a
                            target="_blank" href="https://www.instagram.com/tropicks___/">TROPICKS</a></p>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="me-sm-5 mb-sm-5 shadow btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
</footer>
<script>
    
</script>