<style>
  
</style>
<nav class="navbar sticky-top navbar-expand-lg ps-5 pe-5 shadow-sm" style="background-color: rgba(255, 255, 255, 0.938);">
  <div class="container-fluid container ms-5 me-5">
    <a class="navbar-brand" href="/"><img src="/images/DIIA Logo Round.png" alt="" width="70"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav gap-1 ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/#about">About Us</a></li>
            <li><a class="dropdown-item" href="/#mvv">Mission and Vision</a></li>
            <li><a class="dropdown-item" href="/about/visionaries">Visionaries</a></li>
            <li><a class="dropdown-item" href="/offices/#himayathussuniya">Committee</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Offices
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/offices/#academic-admin">Office of Academics</a></li>
            <li><a class="dropdown-item" href="/offices/#academic-admin">Office of Administration</a></li>
            <li><a class="dropdown-item" href="/offices/#out-reach">Office of Out Reach</a></li>
            <li><a class="dropdown-item" href="/offices/#welfare">Office of Welfare</a></li>
            <li><a class="dropdown-item" href="/offices/#himayathussuniya">Himayathussuniya</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Students Unions
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/unions/lisan">LISAN</a></li>
            <li><a class="dropdown-item" href="/unions/dsc">DSC</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Academics
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/academics/programs">Programs</a></li>
            <li><a class="dropdown-item" href="/academics/co-curricular">Co-curricular</a></li>
            <li><a class="dropdown-item" href="/academics/extra-curricular">Extra-curricular</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admissions
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admission/#secondary">Secondary</a></li>
            <li><a class="dropdown-item" href="/admission/#sen-secondary">Sen Secondary</a></li>
            <li><a class="dropdown-item" href="/admission/#degree">Degree</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#facilities">Facilities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#feeds">Feeds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#donation">Donate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>