<style>
  
  .navbar {
    background-color: rgba(255, 255, 255, 0.322);
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
  }

  .navbar .nav-link{
    font-weight: 600;
    color: #495e5f;
    transition: .3s;
  }

  .navbar .nav-link.active{
    color: #42929d;
  }

  .navbar .nav-link:hover{
    color: #42929d;
  }
</style>
<nav class="navbar sticky-top navbar-expand-lg ps-5 pe-5" style="background-color: rgba(255, 255, 255, 0.938);"> 
  <div class="container-fluid container ms-5 me-5">
    <a class="navbar-brand" href="/"><img src="/images/DIIA Logo Round.png" alt="" width="70"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav gap-4 ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">About Us</a></li>
            <li><a class="dropdown-item" href="#">Mission and Vision</a></li>
            <li><a class="dropdown-item" href="#">Founders</a></li>
            <li><a class="dropdown-item" href="#">Committe</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Offices
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Office of Administation</a></li>
            <li><a class="dropdown-item" href="#">Office of Welfare</a></li>
            <li><a class="dropdown-item" href="#">OGEA</a></li>
            <li><a class="dropdown-item" href="#">Staff Council</a></li>
            <li><a class="dropdown-item" href="#">LISAN</a></li>
            <li><a class="dropdown-item" href="#">DSC</a></li>
            <li><a class="dropdown-item" href="#">Himayathussuniya</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Facilities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Donate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>