* {
    font-family: 'Poppins', sans-serif;
}

#42929d #42929d #919e95 #4482cd #b4c4e5:root {
    --primary-color: #42929d;
    --secondary-color: #184e55;
    --tertiary-color: #4482cd;
    --quaternary-color: #f8f8f8;
    --quinary-color: #ffffff;
    --senary-color: #000000;
    --octonary-color: #00000040;
    --s-octonary-color: #e5f7f9;

}

/* 495e5f 42929d FFD700 */

.h111 {
    font-size: 50px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
}

@keyframes transitionInleft {
    from {
        opacity: 0;
        transform: translatex(20px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translatey(20px);
    }

    to {
        opacity: 1;
        transform: translatey(0px);
    }
}

/* navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.322);
    transition: 0.4s;
    /* Adds a transition effect when the padding is decreased */
    width: 100%;
    top: 0;
    /* At the top */
    z-index: 5;
}

.navbar .nav-link {
    font-weight: 600;
    color: #184e55;
    font-size: 15px;
    transition: .3s;
}

.navbar .nav-link.active {
    color: #42929d;
}

.navbar .nav-link:hover {
    color: #42929d;
}

.navbar .sp-btn {
    background-color: #42929d;
    color: #ffffff;
    border-radius: 50px;
    border: 2px solid #42929d;
    transition: 0.5s ease;

}

.navbar .sp-btn:hover,
.navbar .sp-btn:focus {
    background-color: #ffffff;
    color: #42929d;
}


/* Scroll Bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #08383f;
    transition: all 0.5s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0b707f;
}

/* carousel */
@media screen and (max-width: 768px) {

    .carousel-item,
    .carousel {
        height: 250px;
    }

    .carousel-item img {
        height: 250px;
        object-fit: cover;
    }
}

@media screen and (min-width: 768px) {

    .carousel-item,
    .carousel {
        height: 650px;
    }

    .carousel-item img {
        height: 650px;
        object-fit: cover;
    }

}

/* 
.carousel-item,
.carousel {
    height: 650px;
}

.carousel-item img {
    height: 650px;
    object-fit: cover;
} */

.carousel-caption .btn {
    fill-opacity: 0;
    color: #ffffff;
    border-radius: 0px;
    border: 2px solid #ffffff;
    transition: 0.5s ease;
}

.carousel-caption .btn:hover,
.carousel-caption .btn:focus {
    background-color: #ffffff;
    color: #184e55;
}

.carousel-caption h2 {
    font-size: 50px;
    font-weight: 600;
}

.carousel-caption p {
    font-size: 20px;
    font-weight: 400;
}

.carousel-caption {
    animation: transitionInleft 2.5s;

}

/* About */

.about-div {
    /* background-color: #42929d; */
    height: max-content;
    width: 100%;
    background: linear-gradient(#42929d50, #42929d50),
        url("/images/New folder/20230825_211805.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;

}


.about-div h1 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
}

.about-div p {
    font-size: 18px;
    color: #ffffff;
}

.about-div .btn {
    fill-opacity: 0;
    color: #ffffff;
    border-radius: 0px;
    border: 2px solid #ffffff;
    transition: 0.5s ease;
}

.about-div .btn:hover,
.about-div .btn:focus {
    background-color: #ffffff;
    color: #184e55;
}

.about-div .btn {
    margin-top: 20px;
}

.about-vid video {
    height: 500px;
    border: #ffffff 3px solid;
    padding: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    transition: .5s ease;
}

/* Mission Vision Values */

.m-v-v {
    background-color: #e5f7f9;
    height: 350px;
    transition: 0.5s ease;
}

.m-v-v i {
    font-size: 50px;
    color: #42929d;
    transition: 0.5s ease;
}

.m-v-v h5 {
    font-size: 20px;
    font-weight: 600;
    color: #42929d;
    transition: 0.5s ease;
}

.m-v-v p {
    font-size: 16px;
    color: #42929d;
    transition: 0.5s ease;
}

.m-v-v:hover {
    background-color: #42929d;
    transition: 0.5s ease;
}

.m-v-v:hover i {
    color: #ffffff;
    transition: 0.5s ease;
}

.m-v-v:hover h5 {
    color: #ffffff;
    transition: 0.5s ease;
}

.m-v-v:hover p {
    color: #ffffff;
    transition: 0.5s ease;
}

.m-v-v:hover .btn {
    fill-opacity: 0;
    color: #ffffff;
    border-radius: 0px;
    border: 2px solid #ffffff;
    transition: 0.5s ease;
}

.m-v-v:hover .btn:hover,
.m-v-v:hover .btn:focus {
    background-color: #ffffff;
    color: #42929d;
}

.m-v-v .btn {
    fill-opacity: 0;
    color: #42929d;
    border-radius: 0px;
    border: 2px solid #42929d;
    transition: 0.5s ease;
}

.m-v-v .btn:hover,
.m-v-v .btn:focus {
    background-color: #42929d;
    color: #ffffff;
}


/* facilities */

.facilities-sec {
    background-color: #e5f7f9;

}

.facilities-sec h2 {
    font-size: 50px;
    font-weight: 600;
    color: #42929d;
}

.facilities-sec p {
    font-size: 20px;
    font-weight: 400;
    color: #42929d;
}

.facilities-sec .card-icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #42929d;
    color: #fff;
    font-size: 30px;
}

.facilities-sec .card {
    border: none;
    border-radius: 0px;
    border: 1px solid #fff;
    height: max-content;
    transition: 0.5s ease;
}

.facilities-sec .card-title {
    font-size: 20px;
    font-weight: 600;
    color: #184e55;
    transition: 0.5s ease;
}

.facilities-sec .card-text {
    font-size: 15px;
    color: #184e55;
    transition: 0.5s ease;
}

.facilities-sec .card:hover {
    border: 1px solid #42929d;
    border-radius: 0px;
    transition: 0.5s ease;
}

.facilities-sec .card:hover .card-icon {
    top: -56px;
    transition: 0.2s;
}

.facilities-sec .card:hover .card-title {
    color: #42929d;
    transition: 0.5s ease;
}

/* donation */

#donation {
    background-color: #e5f7f9;
    color: #42929d;
}

#donation h2 {
    font-size: 50px;
    font-weight: 600;
}

#donation p {
    font-size: 20px;
    font-weight: 400;
}

#donation .price-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s ease;
    box-shadow: 0px 0px 10px 0px #00000040;
}

#donation .price-card h3 {
    font-size: 30px;
    font-weight: 800;
    background: -webkit-linear-gradient(95deg, #184e55 0.84%, #42929d 96.72%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#donation .price-card .price-round {
    background: linear-gradient(95deg, #184e55 0.84%, #42929d 96.72%);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}


#donation .price-card .price-round h4 {
    font-size: 50px;
    font-weight: 800;
}

#donation .price-card .price-round h4,
#donation .price-card .price-round h4 sup {
    background: -webkit-linear-gradient(95deg, #ffffff 0.84%, #ffffff 96.72%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#donation .price-card button {
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    background: -webkit-linear-gradient(95deg, #42929d 0.84%, #184e55 96.72%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease;
    box-shadow: 0px 0px 10px 0px #00000040;
}

#donation .price-card button:hover,
#donation .price-card button:focus {
    opacity: 0.5;
    transition: 0.5s ease;
}

#donation .s-price {
    background: linear-gradient(95deg, #184e55 0.84%, #42929d 96.72%);
}

#donation .s-price h3 {
    background: -webkit-linear-gradient(95deg, #f8f8f8 0.84%, #ffffff 96.72%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#donation .s-price .price-round {
    background: linear-gradient(95deg, #f8f8f8 0.84%, #ffffff 96.72%);
}

#donation .s-price .price-round h4,
#donation .s-price .price-round h4 sup {
    background: -webkit-linear-gradient(95deg, #42929d 0.84%, #184e55 96.72%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#donation .s-price button {
    background: -webkit-linear-gradient(95deg, #f8f8f8 0.84%, #ffffff 96.72%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#donation .s-price button:hover,
#donation .s-price button:focus {
    background-color: #42929d;
    transition: 0.5s ease;
}

/* gallery */

#gallery h2 {
    font-size: 50px;
    font-weight: 600;
    color: #42929d;
}

#gallery p {
    font-size: 20px;
    font-weight: 400;
    color: #42929d;
}

#gallery img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0px;
    transition: 0.5s ease;
}

#gallery .grid-image-hover:hover {
    opacity: 0.5;
    transition: 0.5s ease;
}

#gallery .image-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: min-content;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #42929dc0;
    opacity: 0;
    margin: auto 0;
}

#gallery .image-description h5 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.5s ease;
}

#gallery .image-description p {
    font-size: 12px;
    color: #ffffff;
    transition: 0.5s ease;
}

#gallery img:hover~.image-description,
#gallery .image-description:hover {
    opacity: 1;
}

#gallery .btn {
    fill-opacity: 0;
    color: #42929d;
    border-radius: 0px;
    border: 2px solid #42929d;
    transition: 0.5s ease;
}

#gallery .btn:hover,
#gallery .btn:focus {
    background-color: #42929d;
    color: #ffffff;
}

#gallery .btn {
    margin-top: 20px;
}

#gallery .modal-body img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#gallery .modal-content {
    background-color: #42929d00;
    border: none;
    border-radius: 0px;
}

#gallery .modal-header {
    padding: 0px;
}

#gallery .modal-header button,
#gallery .modal-header button:focus,
#gallery .modal-header button:hover {
    background-color: #42929d00;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    font-size: 25px;
    transition: 0.5s ease;
}



/* gallery end */

/* feeds */
#feeds {
    background-color: #42929d;
    color: #ffffff;
}

#feeds h2 {
    font-size: 40px;
    font-weight: 600;
}

#feeds .blog .blog-box .blog-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#feeds .blog .blog-box .blog-txt h2 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #42929d;

}

#feeds .btn {
    fill-opacity: 0;
    color: #ffffff;
    border-radius: 0px;
    border: 2px solid #ffffff;
    transition: 0.5s ease;
}

#feeds .btn:hover,
#feeds .btn:focus {
    background-color: #ffffff;
    color: #42929d;
}


#feeds .blog .blog-box .blog-txt p {
    font-size: 15px;
    line-height: 25px;
    color: #42929d;
}

#feeds .blog .blog-box .blog-txt .date {
    font-size: 12px;
    color: #42929d;
}

#feeds .blog .blog-box .blog-txt .date hr {
    margin: 5px 0;
}

#feeds .blog-box .blog-txt .social a {
    font-size: 15px;
    color: #42929d;
    margin-right: 10px;

}

#feeds .blog-box {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;

}

#feeds .blog-box:hover {
    border: 1px solid #42929d;
}

#feeds a {
    text-decoration: none;
    color: #42929d;
}

/* feeds end */

/* footer */

#footer {
    background-color: #42929d;
    color: #ffffff;
}

#footer .footer-head {
    background-color: #42929d;
    color: #ffffff;
}

#footer .footer-footer {
    background-color: #42929d;
    color: #ffffff;
}

#footer .footer-title h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

#footer .footer-contact p {
    font-size: 15px;
    font-weight: 400;
}

#footer .footer-contact a {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

#footer .footer-social a {
    list-style-type: none;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}


#footer .footer-social a {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

#footer hr {
    margin: 0px;
}

#footer .footer-social ul li a:hover i {
    color: #ffffff;
    text-decoration: none;
}

#footer .footer-social ul li a:focus i {
    color: #ffffff;
    text-decoration: none;
}

#footer img {
    width: 200px;
    margin: auto;
}

#footer .design,
#footer .design a {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
}

/* footer end */

/* status */

#status {
    background-color: #42929d;
}

#status h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
}

#status p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

#status .status-item {
    transition: .3s linear;
}

#status .status-item:hover {
    transform: scale(1.1);
}

#status span {
    display: block;
    width: 100px;
    height: 2px;
    background-color: #ffffff;
    margin: 5px auto;

}

/* status end */

/* common */

.content h2 {
    font-size: 50px;
    font-weight: 600;
    color: #42929d;
}

.content h3 {
    font-size: 22px;
    font-weight: 700;
    color: #42929d;
    text-align: start;
}

.content p {
    font-size: 17px;
    font-weight: 400;
    color: #184e55;
    text-align: start;
}

.content img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.content span {
    font-size: 20px;
    font-weight: 400;
    color: #184e55;
}

#second-content {
    background-color: #e5f7f9;
}

.title-span {
    display: block;
    width: 300px;
    height: 2px;
    background-color: #42929d;
    margin: 5px auto;

}

.sub-title {
    width: fit-content;
    padding: 5px 10px;
    background-color: #42929d;
    margin-bottom: 10px;
}

.sub-title p {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-align: start;
    margin: 0px;
}

.com-img img {
    object-fit: cover;
    height: 450px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.116);
    transition: 0.5s;
}


.com-img img:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.com-img h3 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 1rem;
    align-self: center;
    margin-bottom: 0px;
}

.com-img p {
    font-size: 18px;
    font-weight: 500;
}

.com-img {
    text-align: center;
}

.form-control {
    border-radius: 0px;
    border: 1px solid #42929d;
}

/* common end */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #ffffff;
    color: #42929d;
    border-radius: 50%;
    border: 2px solid #42929d;
    transition: 0.5s ease;

}

#btn-back-to-top:hover,
#btn-back-to-top:focus {
    background-color: #42929d;
    color: #ffffff;
}

#toast .toast-header {
    font-size: 14px;
    color: #42929d;
}

#toast .toast-category {
    background-color: #42929d;
    color: #fff;
    padding: 2px 5px;
    width: fit-content;

}

/* animate */
section {
    overflow: hidden;
}

section .animate {
    transition: 1s;
}

.sec-1 .animate {
    opacity: 0;
    transform: translateX(-50%);
}

.sec-1.show-animate .animate {
    opacity: 1;
    transform: translateX(0);
}

.sec-2 .animate {
    opacity: 0;
    transform: translateY(50%);
    transition-delay: calc(0.3s * var(--i));
}

.sec-2.show-animate .animate {
    opacity: 1;
    transform: translateY(0);
}

.sec-4 .animate {
    opacity: 0;
    transform: translateX(-100%);
    transition-delay: calc(0.2s * var(--i));
}

.sec-4.show-animate .animate {
    opacity: 1;
    transform: translateX(0);
}

.sec-5 .animate {
    opacity: 0;
    transform: translateY(50%);
    transition-delay: calc(0.3s * var(--j));
}

.sec-5.show-animate .animate {
    opacity: 1;
    transform: translateY(0);
}

#donation-first {
    color: #ffffff;
}

#donation-first .fa-brands {
    font-size: 50px;
    color: #42929d;
}

#donation-first p {
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

#donation-first img {
    height: 400px;
    object-fit: fill;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #42929d;
    transition: all 0.3s ease-in-out;
}

#donation-first img:hover {
    box-shadow: 0px 0px 1px 0px #42929d;
    transition: all 0.3s ease-in-out;
}

#donation-first .phoneNumber {
    border: 1px solid #42929d;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
}

#donation-first .phoneNumber img {
    height: 18px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px #42929d;
}

#donation-first .phoneNumber p {
    font-size: 20px;
    margin: 0px;
    color: #42929d;
}



#second-content h2 {
    color: #42929d;

}

#second-content form button {
    background-color: #42929d;
    border: 1px solid #42929d;
    color: #ffffff;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
}

#second-content form button:hover {
    background-color: #ffffff;
    border: 1px solid #42929d;
    color: #42929d;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
}

.phonepe .btn {
    fill-opacity: 0;
    color: #42929d;
    border-radius: 0px;
    border: 2px solid #42929d;
    transition: 0.5s ease;
}

.phonepe .btn:hover,
.phonepe .btn:focus {
    background-color: #42929d;
    color: #ffffff;
}

.phonepe .btn {
    margin-top: 20px;
}

.navbar .notiButton {
    background-color: #42929d;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #42929d;
    transition: all 0.3s ease-in-out;
}

.navbar .notiButton:hover {
    background-color: #fff;
    color: #42929d;
}

.navbar .dropdown-menu {
    border-radius: 5px;
    border: 1px solid #42929d;
    transition: all 0.3s ease-in-out;
}

.navbar .dropdown-item {
    transition: all 0.2s ease-in-out;
}

.navbar .dropdown-item:focus,
.navbar .dropdown-item:active,
.navbar .dropdown-item:hover {
    color: #fff;
    background-color: #42929d;
}

.navbar .navbar-toggler,
.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:active {
    border: 0px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.navbar-toggle {
    border: none;
    border-radius: 50%;
    padding: 10px 10px;
    background: #42929d !important;
}

.navbar-toggle:hover {
    background: #42929d !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    height: 3px;
    display: block;
    background-color: #fff;
    margin: 4px 0;
    border-radius: 1px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

/* ANIMATED UP ARROW */
.navbar-toggle.uarr.collapsed .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 0, 0) rotate(0deg);
    width: 22px;
}

.navbar-toggle.uarr.collapsed .icon-bar:nth-of-type(2) {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.uarr.collapsed .icon-bar:nth-of-type(3) {
    transform: translate3d(0, 0, 0) rotate(0deg);
    width: 22px;
}

.navbar-toggle.uarr .icon-bar:nth-of-type(1) {
    transform: translate3d(2px, 0, 0) rotate(-45deg);
    transform-origin: center center;
    width: 11px;
}

.navbar-toggle.uarr .icon-bar:nth-of-type(2) {
    transform: rotate(-90deg);
    transform-origin: center center;
}

.navbar-toggle.uarr .icon-bar:nth-of-type(3) {
    transform: translate3d(-1px, -15px, 0) rotate(-135deg);
    transform-origin: right top;
    width: 11px;
}



/* END ANIMATED UP ARROW */

#princi-msg {
    background-color: #42929d;
    background: linear-gradient(#42929dbe, #42929dbe),
        url("/images/princi-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#princi-msg img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 50%;
}

#princi-msg h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 35px;
}

#princi-msg p {
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
}

#princi-msg button {
    background-color: #ffffff;
    border: none;
    color: #42929d;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #ffffff;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
}

#princi-msg button:hover {
    background-color: #42929d00;
    color: #ffffff;
}