<section id="first-content" class="content pb-5 mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                {{#if programs}}
                <h2>Programs</h2>
                <span class="title-span"></span>
                <div class="row g-3 pt-5">
                    <div class="col-md-4">
                        <div class="m-v-v text-center p-3">
                            <i class="fa-solid fa-chalkboard"></i>
                            <h5>Secondary</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed libero et quam
                                imperdiet aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="m-v-v text-center p-3">
                            <i class="fa-solid fa-chalkboard-user"></i>
                            <h5>Senior Secondary</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed libero et quam
                                imperdiet aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="m-v-v text-center p-3">
                            <i class="fa-solid fa-graduation-cap"></i>
                            <h5>Degree</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed libero et quam
                                imperdiet aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec.</p>
                        </div>
                    </div>
                </div>
                {{else if co}}
                <h2>Co-Curricular</h2>
                <span class="title-span"></span>
                <div class="row g-3 pt-5">
                    <div class="col-md-4">
                        <div class="m-v-v text-center p-3">
                            <i class="fa-solid fa-paintbrush"></i>
                            <h5>Arts' Fest</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed libero et quam
                                imperdiet aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="m-v-v text-center p-3">
                            <i class="fa-solid fa-chalkboard-user"></i>
                            <h5>Sakshi</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed libero et quam
                                imperdiet aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="m-v-v text-center p-3">
                            <i class="fa-solid fa-people-line"></i>
                            <h5>Seminars</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed libero et quam
                                imperdiet aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="m-v-v text-center p-3">
                            <i class="fa-solid fa-group-arrows-rotate"></i>
                            <h5>Debate Clubs</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed libero et quam
                                imperdiet aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="m-v-v text-center p-3">
                            <i class="fa-solid fa-microphone"></i>
                            <h5>Academic Talks</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed libero et quam
                                imperdiet aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="m-v-v text-center p-3">
                            <i class="fa-solid fa-bus"></i>
                            <h5>Field Work</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed libero et quam
                                imperdiet aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="m-v-v text-center p-3">
                            <i class="fa-solid fa-heart"></i>
                            <h5>Social Services</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed libero et quam
                                imperdiet aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec.</p>
                        </div>
                    </div>
                </div>
                {{else if extra}}
                <h2>Extra-Curricular</h2>
                <span class="title-span"></span>
                <div class="row g-3 pt-5">
                    <div class="col-md-4">
                        <div class="m-v-v text-center p-3">
                            <i class="fa-solid fa-dumbbell"></i>
                            <h5>Physical Training</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed libero et quam
                                imperdiet aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec. Donec molestie commodo aliquam. Maecenas id convallis nisi.
                                Duis molestie justo ac posuere convallis. Vivamus tempus enim eu ipsum congue hendrerit.
                                Donec.</p>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>