<style>
    

    #ad-first-content .btn,
    #ad-second-content .btn,
    #ad-third-content .btn {
        fill-opacity: 0;
        color: #FFb700;
        border-radius: 0px;
        border: 2px solid #FFb700;
        transition: 0.5s ease;
    }

    #ad-first-content .btn:hover,
    #ad-first-content .btn:focus,
    #ad-second-content .btn:hover,
    #ad-second-content .btn:focus,
    #ad-third-content .btn:hover,
    #ad-third-content .btn:focus {
        background-color: #FFb700;
        color: #ffffff;
    }

    #ad-first-content .btn,
    #ad-second-content .btn,
    #ad-third-content .btn {
        
    }

    #ad-first-content a,
    #ad-second-content a,
    #ad-third-content a {
        text-decoration: none;
    }

    #ad-first-content .card-content,
    #ad-second-content .card-content,
    #ad-third-content .card-content {
        background-color: #ffffff;
    }


    #ad-second-content {
        background-color: var(--s-octonary-color);
    }
</style>
<section id="ad-first-content" class="content pb-5 mt-5 admin">
    <div class="container" id="secondary">
        <div class="row ps-md-5 ps-2 pe-md-5 pe-2">
            <div class="col-md-12 text-center">
                <h2>Admission</h2>
                <span class="title-span"></span>
                <div class="row pt-5 d-flex justify-content-center">
                    <div class="card-div">
                        <div class="card-content shadow p-3 mb-3">
                            <div class="sub-title">
                                <p>Admission</p>
                            </div>
                            <h3>Secondary</h3>
                            <p>DHIU enrolls only intelligent and talented students aged below 11½ who have completed/
                                are
                                completing their five-year primary education provided at formal schools and recognized
                                local
                                Madrasas. Admission to the university campus/ affiliated colleges is based only on merit and
                                intellectual potential of students that are evaluated through standard oral and written
                                entrance tests. This is because, DHIU believes that only bright and intelligent students
                                will be capable to pursue the extensive curricula adopted by DHIU. The calls for
                                applications are made in the Arabic month of Sha’ban every year, while the entrance
                                tests
                                are held in the first week of Shawwal. The University offers a continuous stream of
                                twelve-year course, starting from Secondary until Post Graduation. Therefore, it does
                                not
                                allow fresh admissions to higher levels.</p>
                        </div>
                        <div class="d-flex flex-wrap gap-3">
                            <a href="/academics/programs">
                                <button class="btn">Learn More about Secondary</button>
                            </a>
                            <a href="http://portal.dhiu.in/PreAdmission/Application/Create">
                                <button class="btn">Click here to Apply</button>
                            </a>
                            <a href="http://portal.dhiu.in/PreAdmission/Status">
                                <button class="btn">Check Status</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ad-second-content" class="content pb-5">
    <div class="container" id="sen-secondary">
        <div class="row pt-5 ps-md-5 ps-2 pe-md-5 pe-2">
            <div class="card-div">
                <div class="card-content shadow p-3 mb-3">
                    <div class="sub-title">
                        <p>Admission</p>
                    </div>
                    <h3>Senior Secondary</h3>
                    <p>Students who successfully complete their 5 year secondary program of DHIU are eligible for
                        admission to its Senior Secondary program. A certain cut off marks in the centralized public
                        examination conducted by the Board of Examinations of DHIU is required for the admission.
                        Successful candidates are admitted to the DHIU central campus or its affiliated colleges.</p>
                </div>
                <div class="d-flex flex-wrap gap-3">
                    <a href="/academics/programs">
                        <button class="btn">Learn More about Secondary</button>
                    </a>
                    <a href="#">
                        <button class="btn">Click here to Apply online</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ad-third-content" class="content pb-5">
    <div class="container" id="degree">
        <div class="row pt-5 ps-md-5 ps-2 pe-md-5 pe-2">
            <div class="card-div">
                <div class="card-content shadow p-3 mb-3">
                    <div class="sub-title">
                        <p>Admission</p>
                    </div>
                    <h3>Degree</h3>
                    <p>Students who successfully complete their 5 year secondary program of DHIU are eligible for
                        admission to its Senior Secondary program. A certain cut off marks in the centralized public
                        examination conducted by the Board of Examinations of DHIU is required for the admission.
                        Successful candidates are admitted to the DHIU central campus or its affiliated colleges.</p>
                </div>
                <div class="d-flex flex-wrap gap-3">
                    <a href="/academics/programs">
                        <button class="btn">Learn More about Degree</button>
                    </a>
                    <a href="#">
                        <button class="btn">Click here to Apply online</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>