
<section id="donation-first" class="content">
    <div class="container text-center pt-5 pb-5">
        <h2>Donate Now</h2>
        <span class="title-span"></span>

        <div class="row text-center mt-5">
            <div class="col-12 col-md-6 border-end">
                <p>Scan <i class="fa-solid fa-qrcode"></i></p>
                <img src="/images/gpay.jpg" alt="">
                <p class="mt-3 d-sm-block d-md-none">or</p>
            </div>

            <div class="col-12 col-md-6 border-start ">
                <div class="d-sm-block d-md-none mb-4 phonepe">
                    <p class="mt-3">Pay phone number <i class="fa-solid fa-mobile-screen"></i></p>
                    <div class="phoneNumber mt-2">
                        <div class="row">
                            <div class="col">
                                <p class="ms-2 me-3"><img
                                        src="https://uxwing.com/wp-content/themes/uxwing/download/flags-landmarks/india-flag-icon.png"
                                        alt=""> +91 98473 71253</p>
                            </div>
                        </div>
                    </div>
                    <a href="upi://pay?pa=rahman.am90@okicici&pn=Thoufeeq&aid=uGICAgMDui9LLLg" target="_blank">
                        <button class="btn pe-5 ps-5">Pay Now</button>
                    </a>
                    <p class="mt-3">or</p>
                </div>
                <div class="">
                    <p class="mt-3 mb-3">Bank Account Details <i class="fa-solid fa-building-columns"></i></p>
                    <p class="fs-6">
                        <strong>Bank Name: </strong> State Bank of India <br>
                        <strong>Holder Name: </strong> Darul Irfan Islamic Academy <br>
                        <strong>Account No: </strong>30323788252 <br>
                        <strong>IFSC: </strong>SBIN0001153 <br>
                        <strong>MICR: </strong>676002007 <br>
                        <strong>Branch: </strong>PARAPPANANGADI BRANCH <br>
                        0494-2463155, 0494-2460575, 0494-2464502
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="second-content">
    <div class="container p-5">
        <h2 class="text-center">Submit this after Payment</h2>
        <div class="row pt-3">
            <div class="col">
                <div class="payForm">
                    <form id="submit-form" action="">
                        <div class="row ms-md-5 me-md-5">
                            
                            <div class="col">
                                <div class="row g-3">
                                    <div class="col-md-6 col-12">
                                        <input autocomplete="off" type="text" name="name" class="form-control" id="name"
                                            placeholder="Enter your name" required>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <input autocomplete="off" type="email" name="email" class="form-control" id="email"
                                            placeholder="Enter your email" required>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <input autocomplete="off" type="tel" name="phone" class="form-control" id="phone"
                                            placeholder="Enter your phone number" required>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <input autocomplete="off" type="number" name="amount" class="form-control" id="amount"
                                            placeholder="Enter amount in ₹" required>
                                    </div>
                                    <div class="col-12">
                                        <input autocomplete="off" type="text" name="transactionID" class="form-control" id="transactionID"
                                            placeholder="Enter your transaction ID" required>
                                    </div>
                                    <div class="col-12">
                                        <textarea autocomplete="off" name="message" class="form-control" id="message"
                                            placeholder="Enter your message" required></textarea>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn ps-5 pe-5">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    $("#submit-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: "https://script.google.com/macros/s/AKfycbzPVw9IWJVPZ0j_uSGxEzR4UNSZzXR9Yq2VTxZd6YRURbyPdGvdr8lGiFfFUs8IScp6Tw/exec",
            data: $("#submit-form").serialize(),
            method: "post",
            success: function (response) {
                alert("Payment submitted successfully")
                window.location.reload()
                //window.location.href="https://google.com"
            },
            error: function (err) {
                console.log(err)
                alert("Something Error" + err)

            }
        })
    })
</script>