<style>
    .form-tables thead tr th {
        font-size: 1.2rem;
        font-weight: 600;
        background-color: #42929d;
        color: #fff;

    }
</style>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container">
        <div class="form-tables table-bordered border-primary">
            <input id="searchbar " class="form-control" onkeyup="search_animal()" type="text" name="search"
                placeholder="Search Forms..">

            <table class="table mt-5">
                <thead>
                    <tr class="text-center">
                        <th scope="col">SI.No</th>
                        <th scope="col">Form Name</th>
                        <th scope="col">Form Type</th>
                        <th scope="col">Category</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Form 1</td>
                        <td>Admission</td>
                        <td>Secondary</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>