<section class="d-flex justify-content-center pt-5 pb-5" style="background-color: #fcfcfd;">
    <img src="https://cdnl.iconscout.com/lottie/premium/thumb/website-under-maintenance-5690953-4747761.gif" alt="">
</section>