<section id="first-content" class="content pb-5 mt-5 admin">
    <div class="container" id="academic-admin">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Offices</h2>
                <span class="title-span"></span>
                <div class="row pt-5">
                    <div class="col-md-5">
                        <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7">
                        <div class="sub-title mt-3 mt-md-0">
                            <p>Offices of Academic and Administration</p>
                        </div>
                        <h3>Imthiyas Hudawi Tirur</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum posuere
                            arcu, vel maximus mauris porta non. Curabitur porta urna enim, sed pharetra ligula rutrum
                            vel. Aenean euismod consectetur lectus id vestibulum. <br><br>

                            Nunc tincidunt ultrices lorem, ac
                            rutrum turpis. Nulla placerat elit vitae lacus aliquet, eu finibus mauris sollicitudin.
                            Mauris laoreet felis vitae rutrum tincidunt.
                            Vivamus pellentesque purus enim, quis blandit <br><br>

                            metus viverra at. Nulla aliquam tellus at purus gravida, nec mollis turpis congue. Nulla
                            egestas nisl non metus tincidunt, ut aliquet urna tincidunt.
                            Proin eu fermentum arcu. Cras <br><br>

                            semper maximus massa et placerat. Maecenas at tortor non lorem cursus mattis. Mauris iaculis
                            mi non posuere pharetra.Contrary to popular belief,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container" id="out-reach">
        <div class="row">
            <div class="col-md-7">
                <div class="sub-title">
                    <p>Office of Out Reach</p>
                </div>
                <h3>Ajmal Hudawi Randathani</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum posuere
                    arcu, vel maximus mauris porta non. Curabitur porta urna enim, sed pharetra ligula rutrum
                    vel. Aenean euismod consectetur lectus id vestibulum. <br><br>

                    Nunc tincidunt ultrices lorem, ac
                    rutrum turpis. Nulla placerat elit vitae lacus aliquet, eu finibus mauris sollicitudin.
                    Mauris laoreet felis vitae rutrum tincidunt.
                    Vivamus pellentesque purus enim, quis blandit <br><br>

                    metus viverra at. Nulla aliquam tellus at purus gravida, nec mollis turpis congue. Nulla
                    egestas nisl non metus tincidunt, ut aliquet urna tincidunt.
                    Proin eu fermentum arcu. Cras <br><br>

                    semper maximus massa et placerat. Maecenas at tortor non lorem cursus mattis. Mauris iaculis
                    mi non posuere pharetra.Contrary to popular belief,</p>
            </div>
            <div class="col-md-5">
                <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="third-content" class="content pt-5 pb-5">
    <div class="container" id="welfare">
        <div class="row">
            <div class="col-md-5">
                <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                <div class="sub-title mt-3 mt-md-0">
                    <p>Offices of Welfare and Wellbeing</p>
                </div>
                <h3>Shakir Hudawi Nemmini</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum posuere
                    arcu, vel maximus mauris porta non. Curabitur porta urna enim, sed pharetra ligula rutrum
                    vel. Aenean euismod consectetur lectus id vestibulum. <br><br>

                    Nunc tincidunt ultrices lorem, ac
                    rutrum turpis. Nulla placerat elit vitae lacus aliquet, eu finibus mauris sollicitudin.
                    Mauris laoreet felis vitae rutrum tincidunt.
                    Vivamus pellentesque purus enim, quis blandit <br><br>

                    metus viverra at. Nulla aliquam tellus at purus gravida, nec mollis turpis congue. Nulla
                    egestas nisl non metus tincidunt, ut aliquet urna tincidunt.
                    Proin eu fermentum arcu. Cras <br><br>

                    semper maximus massa et placerat. Maecenas at tortor non lorem cursus mattis. Mauris iaculis
                    mi non posuere pharetra.Contrary to popular belief,</p>
            </div>
        </div>
    </div>
</section>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container" id="himayathussuniya">
        <div class="row">
            <div class="col-md-7">
                <div class="sub-title">
                    <p>Offices of Himayathussuniya</p>
                </div>
                <h3>Himayathussuniya Sangam</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum posuere
                    arcu, vel maximus mauris porta non. Curabitur porta urna enim, sed pharetra ligula rutrum
                    vel. Aenean euismod consectetur lectus id vestibulum. <br><br>

                    Nunc tincidunt ultrices lorem, ac
                    rutrum turpis. Nulla placerat elit vitae lacus aliquet, eu finibus mauris sollicitudin.
                    Mauris laoreet felis vitae rutrum tincidunt.
                    Vivamus pellentesque purus enim, quis blandit <br><br>

                    metus viverra at. Nulla aliquam tellus at purus gravida, nec mollis turpis congue. Nulla
                    egestas nisl non metus tincidunt, ut aliquet urna tincidunt.
                    Proin eu fermentum arcu. Cras <br><br>

                    semper maximus massa et placerat. Maecenas at tortor non lorem cursus mattis. Mauris iaculis
                    mi non posuere pharetra.Contrary to popular belief,</p>
            </div>
            <div class="col-md-5">
                <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>