<section id="first-content" class="content pb-5 mt-5 admin">
    <div class="container" id="academic">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Offices</h2>
                <span class="title-span"></span>
                <div class="row pt-5 d-flex justify-content-center ps-3 ps-md-0 pe-3 pe-md-0">

                    <div class="col-md-7 ">
                        <div class="sub-title mt-3 mt-md-0">
                            <p>Offices of Academic affairs</p>
                        </div>
                        <p>The Office of Academics upholds excellence in keeping touch with Darul Huda Islamic
                            University syllabus monitoring, students’ progress tracking, attendance recording, and exam
                            management from paper preparation to invigilation and mark entry. The office runs External
                            Educational Programs of higher secondary schooling like SSLC, NIOS, and SCOLE and bachelor's
                            Degree programs from the University of Calicut and IGNOU.
                            <br><br>
                            <strong style="font-size: larger;">Contact</strong>
                            <br><br>
                            <strong>Admin</strong><br>
                            Usthad Imthiyas Hudawi <br>
                            Malappuram, Kerala,India, 676521 <br>
                            Ph: +91 80893 87394 <br>
                            Email: imthiyastirur@gmail.com <br>
                            Working Hours: 10:00 am to 5.00 p.m. (Friday Holiday) <br><br>

                            <strong>External Education Coordinator</strong> <br>
                            Usthad Haneef Hudawi <br>
                            Malappuram, Kerala,India, 676521 <br>
                            Ph: +91 90373 20313 <br>
                            Email: haneef1337@gmail.com <br>
                            Working Hours: 10:00 am to 5.00 p.m. (Friday Holiday)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container" id="admin">
        <div class="row d-flex justify-content-center ps-3 ps-md-0 pe-3 pe-md-0">
            {{!-- <div class="col-md-5 d-block d-md-none mb-3">
                <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
            </div> --}}
            <div class="col-md-7">
                <div class="sub-title">
                    <p>Office of Administration</p>
                </div>
                <p>Himayathu ‘Aqaidi Sunniyya committee holds executive power in the growth of Darul Irfan and manages
                    facilities, accessibility, and safety to create a comfortable learning environment. And also ensures
                    healthy food, uninterrupted water and power supply, efficient waste management, and timely repairs,
                    contributing to a functional and thriving campus ecosystem.
                    <br><br>
                    <strong style="font-size: larger;">Contact</strong>
                    <br><br>
                    Abdul Hameeed Haji <br>
                    Malappuram, Kerala,India, 676521 <br>
                    Ph: +91 99463 05740 <br>
                    Tel:  +91 483 208 2814 <br>
                    Working Hours: 10:00 am to 5.00 p.m. (Friday Holiday) <br>
                </p>

            </div>
            {{!-- <div class="col-md-5 d-none d-md-block">
                <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
            </div> --}}
        </div>
    </div>
</section>
<section id="third-content" class="content pt-5 pb-5">
    <div class="container" id="out-reach">
        <div class="row d-flex justify-content-center ps-3 ps-md-0 pe-3 pe-md-0">
            {{!-- <div class="col-md-5 align-items-center">
                <img src="/images/OWW.jpg" alt="" class="img-fluid">
            </div> --}}
            <div class="col-md-7">
                <div class="sub-title mt-3 mt-md-0">
                    <p>Office of Guidance and External Activities (OGEA)</p>
                </div>
                <p>The Office of Guidance and External Activities works as a guidance center for students to reach their
                    life goals by facilitating all required training programs as well as the office will open the doors
                    of international opportunities in front of students and will be a channel of all external activities
                    and outreach programs.
                    <br><br>
                    <strong style="font-size: larger;">Contact</strong>
                    <br><br>
                    Usthad Ajmal Hudawi <br>
                    Malappuram, Kerala,India, 676521 <br>
                    Ph: +91 70340 07636 <br>
                    Email: ajmalmhmd07@gmail.com <br>
                    Working Hours: 10:00 am to 5.00 p.m. (Friday Holiday) <br>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container" id="welfare">
        <div class="row d-flex justify-content-center ps-3 ps-md-0 pe-3 pe-md-0">
            {{!-- <div class="col-md-5 d-block d-md-none mb-3">
                <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
            </div> --}}
            <div class="col-md-7">
                <div class="sub-title">
                    <p>Office of Students’ Welfare and Well-being</p>
                </div>
                <p>The Office of Students’ Welfare and Well-being looks after the general welfare of the students and
                    also provides appropriate encouragement for sound and fruitful relationships between the
                    intellectual and social life of the students for their growth and development. The office includes
                    student representatives for the Listening cell and Happiness cell in cooperation with the students'
                    union (LISAN).
                    <br><br>
                    <strong style="font-size: larger;">Contact</strong>
                    <br><br>
                    <strong>Welfare Coordinator</strong> <br>
                    Usthad Shakir Hudawi <br>
                    Malappuram, Kerala,India, 676521 <br>
                    Ph: +91 81138 29779 <br>
                    Email: diiaswoffice@gmail.com <br>
                    Working Hours: 10:00 am to 5.00 p.m. (Friday Holiday) <br>
                </p>
            </div>
            {{!-- <div class="col-md-5 d-none d-md-block">
                <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
            </div> --}}
        </div>
    </div>
</section>