<style>

</style>
<section id="first-content" class="content pb-5 admin">
    <div class="container" id="academic-admin">
        <div class="row">
            <div class="col-md-12 text-center">
                {{#if lisan}}
                <div class="row pt-5">
                    <div class="col-md-5">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7">
                        <div class="sub-title">
                            <p>Student's Union</p>
                        </div>
                        <h3>LISAN</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum posuere
                            arcu, vel maximus mauris porta non. Curabitur porta urna enim, sed pharetra ligula rutrum
                            vel. Aenean euismod consectetur lectus id vestibulum. <br><br>

                            Nunc tincidunt ultrices lorem, ac
                            rutrum turpis. Nulla placerat elit vitae lacus aliquet, eu finibus mauris sollicitudin.
                            Mauris laoreet felis vitae rutrum tincidunt.
                            Vivamus pellentesque purus enim, quis blandit <br><br>

                            metus viverra at. Nulla aliquam tellus at purus gravida, nec mollis turpis congue. Nulla
                            egestas nisl non metus tincidunt, ut aliquet urna tincidunt.
                            Proin eu fermentum arcu. Cras <br><br>

                            semper maximus massa et placerat. Maecenas at tortor non lorem cursus mattis. Mauris iaculis
                            mi non posuere pharetra.Contrary to popular belief,</p>
                    </div>
                </div>
                {{else if dsc}}
                <div class="row pt-5">
                    <div class="col-md-5">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7">
                        <div class="sub-title">
                            <p>Student's Union</p>
                        </div>
                        <h3>Dept. Students Council</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum posuere
                            arcu, vel maximus mauris porta non. Curabitur porta urna enim, sed pharetra ligula rutrum
                            vel. Aenean euismod consectetur lectus id vestibulum. <br><br>

                            Nunc tincidunt ultrices lorem, ac
                            rutrum turpis. Nulla placerat elit vitae lacus aliquet, eu finibus mauris sollicitudin.
                            Mauris laoreet felis vitae rutrum tincidunt.
                            Vivamus pellentesque purus enim, quis blandit <br><br>

                            metus viverra at. Nulla aliquam tellus at purus gravida, nec mollis turpis congue. Nulla
                            egestas nisl non metus tincidunt, ut aliquet urna tincidunt.
                            Proin eu fermentum arcu. Cras <br><br>

                            semper maximus massa et placerat. Maecenas at tortor non lorem cursus mattis. Mauris iaculis
                            mi non posuere pharetra.Contrary to popular belief,</p>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container" id="out-reach">
        <div class="row text-center">
            <h2>Core Committee</h2>
            <span class="title-span"></span>
            {{#if lisan}}
            <div class="row mt-5">
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Syd Musthafa</h3>
                        <p>President</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Nihr V</h3>
                        <p>G.Secretary</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Fayiz KP</h3>
                        <p>V.President</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Sidheeq K</h3>
                        <p>V.President</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Fazlu Rahman</h3>
                        <p>W.Secretary</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Shanif S</h3>
                        <p>J.Secretary</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Sidheeq TP</h3>
                        <p>P.Secretary</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Anshif T</h3>
                        <p>O.Secretary</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Lazim K</h3>
                        <p>P R O</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Akbar Ali</h3>
                        <p>Tresurer</p>
                    </div>
                </div>
            </div>
            {{else if dsc}}
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Syd Musthafa</h3>
                        <p>President</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Nihr V</h3>
                        <p>G.Secretary</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="com-img text-center">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                        <h3>Fayiz KP</h3>
                        <p>V.President</p>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</section>