<style>
    .un-social a {
        font-size: larger;
        color: #184e55;
    }

    .un-social a:hover {
        color: #184e55;
    }

    .un-vision li {
        font-size: 17px;
        color: #184e55;
    }
</style>
<section id="first-content" class="content pb-5 admin">
    <div class="container" id="academic-admin">
        <div class="row ps-3 ps-md-0 pe-3 pe-md-0">
            <div class="col-md-12 text-center">
                {{#if lisan}}
                <div class="row pt-5">
                    <div class="col-md-5">
                        <img src="/images/lisan logo new.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7">
                        <div class="sub-title mt-3 mt-md-0">
                            <p>Student's Union</p>
                        </div>
                        <h3>LISAN</h3>
                        <p>League of Irfan Students’ Artistic Nourishment, established in 2016, is a vibrant platform
                            for students to nourish the values of Islamic leadership and compassionate service. Rooted
                            in the official constitution, 10 Core Committee members were selected after the yearly
                            election. 6 Working Committees; General Awareness Board (GAB), Language Board, Art Zone,
                            PKV, IT, and state-registered SKSSF run all programs and contests while 5 Auxilary
                            Committees; Organizing Council, Marketing Management, Stationary Publishing Burea, and Media
                            Crew stretch their arms to support all activities. <br><br>

                            <strong>Visions:</strong>
                        <ul class="text-start un-vision">
                            <li>
                                To lead the activities of Islamic education and prepare the students for the achievement
                                of Darul Irfan Islamic Academy.
                            </li>
                            <li>
                                To strive for the spiritual, intellectual, artistic, sports, literary, and cultural
                                development of the students.
                            </li>
                            <li>
                                To focus on social service.
                            </li>
                            <li>
                                To publish books, pamphlets, and social media content, etc.
                            </li>
                            <li>
                                To render services to the nation, community, and organization as much as possible.
                            </li>
                        </ul>
                        <br><br>

                        <div class="text-start un-social">
                            <strong style="font-size: larger;color:#184e55;">Get us</strong><br><br>
                            <a target="_blank" class="text-decoration-none"
                                href="https://www.instagram.com/lisanmedia_/"><i
                                    class="fa-brands fa-square-instagram me-2 fs-4"></i>lisanmedia_</a> <br>
                            <a target="_blank" class="text-decoration-none"
                                href="https://www.youtube.com/@lisanmedia_"><i
                                    class="me-2 fa-brands fa-square-youtube fs-4"></i>LISAN MEDIA</a> <br>
                            <a target="_blank" class="text-decoration-none"
                                href="https://www.facebook.com/lisan.pandikkad"><i
                                    class="fa-brands fa-facebook me-2 fs-5"></i>Lisan Darul Irfan Pandikkad </a>
                            <br>
                        </div>

                        </p>
                    </div>
                </div>
                {{else if dsc}}
                <div class="row pt-5">
                    <div class="col-md-5">
                        <img src="/images/dep logo.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7">
                        <div class="sub-title mt-3 mt-md-0">
                            <p>Student's Union</p>
                        </div>
                        <h3>Dept. Students Council</h3>
                        <p>Department Students’ Council, established in 2021 -winner of the same year’s Zainul Ulama
                            Best Fiqh Dept. Award of Darul Huda Islamic University- is an organization for all Degree
                            Scholars in the Department of Fiqh and Usul al-Fiqh of Darul Irfan to enrich different areas
                            of Islamic Jurisprudence. Under the supervision of HoD, a five-member core committee was
                            selected every year, and five working committees; Fathwa Council, Academic Studies, Outreach
                            Coordination, Media Crew, and Organizing Council run all programs and contests. <br><br>

                            <strong>Visions:</strong>
                        <ul class="text-start un-vision">
                            <li>
                                To achieve the standards of quality in teaching of Fiqh, its learning and researching.
                            </li>
                            <li>
                                To present Islamic Fiqh based on four Madhabs with a special focus on Shafi Madhab to
                                help
                                mankind achieve success in this life and beyond.
                            </li>
                            <li>
                                To produce academically distinctive graduates and experts who will meet the religious
                                and educational needs of the people in the area of Fiqh.
                            </li>
                            <li>
                                To publish books, pamphlets, and social media content, etc.
                            </li>
                            <li>
                                To be a leading jurisprudential department that presents Sharia with its merits and full
                                capacity to provide solutions to contemporary issues.
                            </li>
                        </ul>
                        <br><br>
                        <div class="text-start un-social">
                            <strong style="font-size: larger;color:#184e55;">Get us</strong><br><br>
                            <a target="_blank" class="text-decoration-none"
                                href="https://www.instagram.com/fiqh_dep_pandikkad/"><i
                                    class="fa-brands fa-square-instagram me-2 fs-4"></i>fiqh_dep_pandikkad</a> <br>
                            <a target="_blank" class="text-decoration-none"
                                href="https://www.youtube.com/@diiafiqhdepartment"><i
                                    class="me-2 fa-brands fa-square-youtube fs-4"></i>DARUL IRFAN FIQH AND USOOL AL FIQH
                                DEPARTMENT</a> <br>

                            <br>
                        </div>
                        </p>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container" id="out-reach">
        <div class="row text-center ps-3 ps-md-0 pe-3 pe-md-0">
            <h2>Core Committee</h2>
            <span class="title-span"></span>
            {{#if lisan}}
            <div class="row mt-5">
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/syd.jpg" alt="" class="img-fluid">
                        <h3>Syd Musthafa</h3>
                        <p>President</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/105.jpg" alt="" class="img-fluid">
                        <h3>Nihr V</h3>
                        <p>G.Secretary</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/113.jpg" alt="" class="img-fluid">
                        <h3>Lazim K</h3>
                        <p>P R O</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/ak.jpg" alt="" class="img-fluid">
                        <h3>Akbar Ali</h3>
                        <p>Treasurer</p>
                    </div>
                </div>
            </div>
            {{else if dsc}}
            <div class="row mt-5">
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/kt.jpg" alt="" class="img-fluid">
                        <h3>Afsal KT</h3>
                        <p>Chairman</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/sha.jpg" alt="" class="img-fluid">
                        <h3>Shammas P</h3>
                        <p>Convenor</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/97.jpg" alt="" class="img-fluid">
                        <h3>Bishr CP</h3>
                        <p>Convenor</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="com-img text-center">
                        <img src="/images/ans.jpg" alt="" class="img-fluid">
                        <h3>Anshad P</h3>
                        <p>Treasurer</p>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</section>