<section id="first-content" class="content pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center ">
                <h2>Our Visionaries</h2>
                <span class="title-span"></span>
                <div class="row pt-5">
                    <div class="col-md-5">
                        <img src="/images/Visionaries/V2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7">
                        <h3 class="mt-3 mt-md-0">Sayed Unni Koya Thangal <span>(D:2019)</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum posuere
                            arcu, vel maximus mauris porta non. Curabitur porta urna enim, sed pharetra ligula rutrum
                            vel. Aenean euismod consectetur lectus id vestibulum. <br><br>

                            Nunc tincidunt ultrices lorem, ac
                            rutrum turpis. Nulla placerat elit vitae lacus aliquet, eu finibus mauris sollicitudin.
                            Mauris laoreet felis vitae rutrum tincidunt.
                            Vivamus pellentesque purus enim, quis blandit <br><br>

                            metus viverra at. Nulla aliquam tellus at purus gravida, nec mollis turpis congue. Nulla
                            egestas nisl non metus tincidunt, ut aliquet urna tincidunt.
                            Proin eu fermentum arcu. Cras <br><br>

                            semper maximus massa et placerat. Maecenas at tortor non lorem cursus mattis. Mauris iaculis
                            mi non posuere pharetra.Contrary to popular belief,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5 d-block d-md-none mb-3">
                <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h3>O.T. MOOSA MUSLIYAR <span>(1946 - 2021)</span></h3>
                <p>Founding General Secretary</p>
                <p>O.T. Moosa Musliyar, a member of Samastha Mushavara, was the founding secretary of Darul Irfan
                    Islamic Academy. Born in 1946 to Ottakath Mammutty Musliyar and Fatima. Starting from Vakkethodi
                    Muhammed Muliyar’s Pallikoodam, his primary education was at Kadambode G.M.L.P School. His religious
                    studies started in K.C Jamaludheen Muslaiyar’s Dars and progressed in Jamia Nooriyya Arabiyya as he
                    graduated with the certificate of Faizy. Being ‘Alim of the then Kerala, he started teaching in the
                    Dars system in many regions of the state such as Mudikkode Kuttasheri, Eriyad, Valluvambram, and
                    Khaja Nagar. Later, he lived for some years in Saudi Arabia. With his profound mastery and restless
                    educational services, he was an honored member of Samastha Kerala Jamiyyathul Ulama Muhavara, a
                    40-’Alims’central Sunni-Shafi'i Muslim scholarly body in Kerala established in 1926. Alongside he
                    was Qadhi, a member of Samastha Malappuram District Mushavara, President of Samastha Eranad Thaluk,
                    and Secretary of Himayathu ‘Aqaidi Sunniyya. <br><br>
                    O.T. Usthad played a vital role in the establishment of Darul Irfan Islamic Academy even before 2014
                    as he suggested O.T Ummer Master, a familymate, donate land for Darul Irfan realizing the
                    opportunity of a great Sunni Islamic institution in the Pandikkad area. He, Sayyid Unnikoya Thangal,
                    and PMH Bappu Haji collectively carried out the leading role of building an institution, home to
                    300+ students and 25 staff. His demise was on 9th February 2021 at his residence in Mudikkode. His
                    body was laid to rest at the Mudikkode Juma Masjid.
                </p>
            </div>
            <div class="col-md-5 d-none d-md-block">
                <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="third-content" class="content pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h3 class="mt-3 mt-md-0">O T Umer Master</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum posuere
                    arcu, vel maximus mauris porta non. Curabitur porta urna enim, sed pharetra ligula rutrum
                    vel. Aenean euismod consectetur lectus id vestibulum. <br><br>

                    Nunc tincidunt ultrices lorem, ac
                    rutrum turpis. Nulla placerat elit vitae lacus aliquet, eu finibus mauris sollicitudin.
                    Mauris laoreet felis vitae rutrum tincidunt.
                    Vivamus pellentesque purus enim, quis blandit <br><br>

                    metus viverra at. Nulla aliquam tellus at purus gravida, nec mollis turpis congue. Nulla
                    egestas nisl non metus tincidunt, ut aliquet urna tincidunt.
                    Proin eu fermentum arcu. Cras <br><br>

                    semper maximus massa et placerat. Maecenas at tortor non lorem cursus mattis. Mauris iaculis
                    mi non posuere pharetra.Contrary to popular belief,</p>
            </div>
        </div>
    </div>
</section>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5 d-block d-md-none mb-3">
                <img src="/images/Visionaries/V3.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h3>P.M.H. Bappu Haji <span>(1932–2016)</span></h3>
                <p>Founding Treasurer</p>
                <p>P.M.H. Bappu Haji, a businessman by profession, was the founding General Treasurer of Darul Irfan
                    Islamic Academy. Born in 1932 at Velluvangad to Moideenkutty and Fatima, his real name is
                    Punnakkadan Muhammed while Bappu is his nickname. Despite being born into a farmer family, with his
                    great willpower and confidence he built a successful business. His delightful connections with
                    Sayyid families in both Pandikkad and Panakkad and respectful service for Samastha Kerala
                    Jamiyyathul Ulama, the supreme religious organization of Muslims in the state, paved his way to
                    becoming a man of people. <br><br>

                    He and Sayyid Unni Koya Thangal were the visionaries to establish Al-Farooque Orphanage in 1995.
                    Later, led to the founding of Al-Farooque English Medium and proceeded as managing director in
                    school management. In 2007, he became the director of Pandikkad Town Juma Masjid and Himayathu
                    ‘Aqaidi Sunniyya. Being an organizer and fundraiser, he devoted his life to nurturing the spiritual
                    growth of the community through his involvement with Majidis and Madrasas as he was director of
                    Velluvangad Juma Masjid, a member of the Advisory Board in Nellikuth Kizhakkekara Juma Masjid, Abu
                    Bakr Siddique Masjid, and Nellikuth Madrasa. From the very first meeting of Darul Irfan to his
                    sickened last years he held Darul Irfan tight to heart. His death was on 7 th May 2016, and buried
                    at Velluvangad Juma Masjid.</p>
            </div>
            <div class="col-md-5 d-none d-md-block">
                <img src="/images/Visionaries/V3.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>