<section id="first-content" class="content pb-5 mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Our Visionaries</h2>
                <span class="title-span"></span>
                <div class="row pt-5">
                    <div class="col-md-5">
                        <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7">
                        <h3>Sayed Unni Koya Thangal <span>(D:2019)</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum posuere
                            arcu, vel maximus mauris porta non. Curabitur porta urna enim, sed pharetra ligula rutrum
                            vel. Aenean euismod consectetur lectus id vestibulum. <br><br>

                            Nunc tincidunt ultrices lorem, ac
                            rutrum turpis. Nulla placerat elit vitae lacus aliquet, eu finibus mauris sollicitudin.
                            Mauris laoreet felis vitae rutrum tincidunt.
                            Vivamus pellentesque purus enim, quis blandit <br><br>

                            metus viverra at. Nulla aliquam tellus at purus gravida, nec mollis turpis congue. Nulla
                            egestas nisl non metus tincidunt, ut aliquet urna tincidunt.
                            Proin eu fermentum arcu. Cras <br><br>

                            semper maximus massa et placerat. Maecenas at tortor non lorem cursus mattis. Mauris iaculis
                            mi non posuere pharetra.Contrary to popular belief,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3>O T Moosa Musliyar <span>(D:2020)</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum posuere
                    arcu, vel maximus mauris porta non. Curabitur porta urna enim, sed pharetra ligula rutrum
                    vel. Aenean euismod consectetur lectus id vestibulum. <br><br>

                    Nunc tincidunt ultrices lorem, ac
                    rutrum turpis. Nulla placerat elit vitae lacus aliquet, eu finibus mauris sollicitudin.
                    Mauris laoreet felis vitae rutrum tincidunt.
                    Vivamus pellentesque purus enim, quis blandit <br><br>

                    metus viverra at. Nulla aliquam tellus at purus gravida, nec mollis turpis congue. Nulla
                    egestas nisl non metus tincidunt, ut aliquet urna tincidunt.
                    Proin eu fermentum arcu. Cras <br><br>

                    semper maximus massa et placerat. Maecenas at tortor non lorem cursus mattis. Mauris iaculis
                    mi non posuere pharetra.Contrary to popular belief,</p>
            </div>
            <div class="col-md-5">
                <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="third-content" class="content pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h3>O T Umer Master</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum posuere
                    arcu, vel maximus mauris porta non. Curabitur porta urna enim, sed pharetra ligula rutrum
                    vel. Aenean euismod consectetur lectus id vestibulum. <br><br>

                    Nunc tincidunt ultrices lorem, ac
                    rutrum turpis. Nulla placerat elit vitae lacus aliquet, eu finibus mauris sollicitudin.
                    Mauris laoreet felis vitae rutrum tincidunt.
                    Vivamus pellentesque purus enim, quis blandit <br><br>

                    metus viverra at. Nulla aliquam tellus at purus gravida, nec mollis turpis congue. Nulla
                    egestas nisl non metus tincidunt, ut aliquet urna tincidunt.
                    Proin eu fermentum arcu. Cras <br><br>

                    semper maximus massa et placerat. Maecenas at tortor non lorem cursus mattis. Mauris iaculis
                    mi non posuere pharetra.Contrary to popular belief,</p>
            </div>
        </div>
    </div>
</section>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3>P M H Bappu Haji <span>(D:2016)</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum posuere
                    arcu, vel maximus mauris porta non. Curabitur porta urna enim, sed pharetra ligula rutrum
                    vel. Aenean euismod consectetur lectus id vestibulum. <br><br>

                    Nunc tincidunt ultrices lorem, ac
                    rutrum turpis. Nulla placerat elit vitae lacus aliquet, eu finibus mauris sollicitudin.
                    Mauris laoreet felis vitae rutrum tincidunt.
                    Vivamus pellentesque purus enim, quis blandit <br><br>

                    metus viverra at. Nulla aliquam tellus at purus gravida, nec mollis turpis congue. Nulla
                    egestas nisl non metus tincidunt, ut aliquet urna tincidunt.
                    Proin eu fermentum arcu. Cras <br><br>

                    semper maximus massa et placerat. Maecenas at tortor non lorem cursus mattis. Mauris iaculis
                    mi non posuere pharetra.Contrary to popular belief,</p>
            </div>
            <div class="col-md-5">
                <img src="/images/Founders/f1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>