<section id="first-content" class="content pb-5 mt-5">
    <div class="container">
        <div class="row  ps-3 ps-md-0 pe-3 pe-md-0">
            <div class="col-md-12 text-center ">
                <h2>Our Visionaries</h2>
                <span class="title-span"></span>
                <div class="row pt-5">
                    <div class="col-md-5">
                        <img src="/images/Visionaries/V2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7">
                        <h3 class="mt-3 mt-md-0">Sayyid Abdurahman Unni Koya Thangal <span>(1941 -2018 )</span></h3>
                        <p>Founding President</p>
                        <p>Sayyid Abdurahman Unni Koya Thangal was the founding President of Darul Irfan Islamic
                            Academy. Born in 1941 to a Sayyid family in a rural area, later settled in Thambanagadi- the
                            nearest town to Pandikkad. Years of Dars education in the Masjids of Thuvvur, Mudikkode,
                            Vettathur, and Pullara made him a religious scholar and planted seeds of social service for
                            the Muslim League. Being a Sayyid, ‘Alim, and a public speaker at the same time, he started
                            his political life in 1968 as Pandikkad Panchayath Muslim League president and continued in
                            that designation for five decades until his last breath. He also decorated the designations
                            of Mulsim League State Counsilor, Muslim League Wandoor Constituency president, and Muslim
                            League Manjeri Constituency treasurer. Alongside he presided over Himayathu ‘Aqaidi Sunniyya
                            and Darul Irfan Islamic Academy. <br><br>
                            Like Panakkad Kopdappanakkal House, Pandikkad Thangalpadi House’s doors were open all day
                            and night for social resolutions and problem-solving. He put a keen interest in educational
                            reformation and thus he supervised building institutions such as Darul Irfan Islamic
                            Academy, Al-Farooque Orphanage, Al-Farooque Shareeath College Oravampuram, and Al-Farooque
                            English Medium Higher Secondary School.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container">
        <div class="row ps-3 ps-md-0 pe-3 pe-md-0">
            <div class="col-md-5 d-block d-md-none mb-3">
                <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h3>O.T. MOOSA MUSLIYAR <span>(1946 - 2021)</span></h3>
                <p>Founding General Secretary</p>
                <p>O.T. Moosa Musliyar, a member of Samastha Mushavara, was the founding secretary of Darul Irfan
                    Islamic Academy. Born in 1946 to Ottakath Mammutty Musliyar and Fatima. Starting from Vakkethodi
                    Muhammed Muliyar’s Pallikoodam, his primary education was at Kadambode G.M.L.P School. His religious
                    studies started in K.C Jamaludheen Muslaiyar’s Dars and progressed in Jamia Nooriyya Arabiyya as he
                    graduated with the certificate of Faizy. Being ‘Alim of the then Kerala, he started teaching in the
                    Dars system in many regions of the state such as Mudikkode Kuttasheri, Eriyad, Valluvambram, and
                    Khaja Nagar. Later, he lived for some years in Saudi Arabia. With his profound mastery and restless
                    educational services, he was an honored member of Samastha Kerala Jamiyyathul Ulama Muhavara, a
                    40-’Alims’central Sunni-Shafi'i Muslim scholarly body in Kerala established in 1926. Alongside he
                    was Qadhi, a member of Samastha Malappuram District Mushavara, President of Samastha Eranad Thaluk,
                    and Secretary of Himayathu ‘Aqaidi Sunniyya. <br><br>
                    O.T. Usthad played a vital role in the establishment of Darul Irfan Islamic Academy even before 2014
                    as he suggested O.T Ummer Master, a familymate, donate land for Darul Irfan realizing the
                    opportunity of a great Sunni Islamic institution in the Pandikkad area. He, Sayyid Unnikoya Thangal,
                    and PMH Bappu Haji collectively carried out the leading role of building an institution, home to
                    300+ students and 25 staff. His demise was on 9th February 2021 at his residence in Mudikkode. His
                    body was laid to rest at the Mudikkode Juma Masjid.
                </p>
            </div>
            <div class="col-md-5 d-none d-md-block">
                <img src="/images/Visionaries/f1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="third-content" class="content pt-5 pb-5">
    <div class="container">
        <div class="row ps-3 ps-md-0 pe-3 pe-md-0">
            <div class="col-md-5">
                <img src="/images/Visionaries/V3.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h3 class="mt-3 mt-md-0">P.M.H. Bappu Haji <span>(1932–2016)</span></h3>
                
                <p>Founding Treasurer</p>
                <p>P.M.H. Bappu Haji, a businessman by profession, was the founding General Treasurer of Darul Irfan
                    Islamic Academy. Born in 1932 at Velluvangad to Moideenkutty and Fatima, his real name is
                    Punnakkadan Muhammed while Bappu is his nickname. Despite being born into a farmer family, with his
                    great willpower and confidence he built a successful business. His delightful connections with
                    Sayyid families in both Pandikkad and Panakkad and respectful service for Samastha Kerala
                    Jamiyyathul Ulama, the supreme religious organization of Muslims in the state, paved his way to
                    becoming a man of people. <br><br>

                    He and Sayyid Unni Koya Thangal were the visionaries to establish Al-Farooque Orphanage in 1995.
                    Later, led to the founding of Al-Farooque English Medium and proceeded as managing director in
                    school management. In 2007, he became the director of Pandikkad Town Juma Masjid and Himayathu
                    ‘Aqaidi Sunniyya. Being an organizer and fundraiser, he devoted his life to nurturing the spiritual
                    growth of the community through his involvement with Majidis and Madrasas as he was director of
                    Velluvangad Juma Masjid, a member of the Advisory Board in Nellikuth Kizhakkekara Juma Masjid, Abu
                    Bakr Siddique Masjid, and Nellikuth Madrasa. From the very first meeting of Darul Irfan to his
                    sickened last years he held Darul Irfan tight to heart. His death was on 7 th May 2016, and buried
                    at Velluvangad Juma Masjid.</p>
            </div>
        </div>
    </div>
</section>
<section id="second-content" class="content pt-5 pb-5">
    <div class="container">
        <div class="row ps-3 ps-md-0 pe-3 pe-md-0">
            <div class="col-md-5 d-block d-md-none mb-3">
                <img src="/images/Visionaries/v4.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h3 >O.T. Ummer Master <span>(1940s)</span></h3>
                <p>Land Donor</p>
                <p>O.T. Ummer Master's life is woven into the very fabric of Darul Irfan. It's a narrative of faith,
                    philanthropy, and commitment to education and community upliftment. Born and raised in
                    Vadakkuparamb, a village situated opposite Riverside of Darul Irfan. He started his career as a
                    Master in !@#$% school. He inherited a two-acre land in Variyamkunn, a mountain one kilometer away
                    from Velluvangad Town. In his Fifties, the idea of building an educational institution emerged in
                    his mind and he knew he had to be a bigger part of it. He readily offered the land upon which the
                    academy now stands. This selfless act was about laying the foundation for a future where 400
                    students could grow into responsible citizens without any fees, guided by Samasta to spread the
                    message principles of Islam.</p>
            </div>
            <div class="col-md-5 d-none d-md-block">
                <img src="/images/Visionaries/V4.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>