<style>
    #admin-dash .admin-dash {
        height: 100%;
        background-color: #42929d;
    }

    #admin-dash span {
        display: block;
        width: 300px;
        height: 2px;
        background-color: #ffffff;
        margin: 5px auto;

    }

    #admin-dash .tool-box {
        background-color: white;
        color: #42929d;
        font-size: x-large;
        transition: 0.5s ease;
    }


    #admin-dash a {
        text-decoration: none;

    }

    
</style>

<section id="admin-dash">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="admin-dash p-5">
                    <h1 class="text-center text-white">Welcome to Computer Lab<br>Supervisor Panel</h1>
                    <span></span>

                    <h3 class="text-start text-white mt-5">Tools</h3>
                    <div class="row  g-4">
                        <div class="col-md-3">
                            <a href="/admin/data-entry">
                                <div
                                    class="tool-box p-3 shadow-sm d-flex justify-content-around align-items-center rounded">
                                    <div>
                                        <h2 class="fs-5">Data Entry
                                        </h2>
                                    </div>
                                    <i class="fa-solid fa-sign-in fs-1 primary-text rounded-full secondary-bg p-3"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/admin/view-data">
                                <div
                                    class="tool-box p-3 shadow-sm d-flex justify-content-around align-items-center rounded">
                                    <div>
                                        <h2 class="fs-5">View Data
                                        </h2>
                                    </div>
                                    <i class="fa-solid fa-user fs-1 primary-text rounded-full secondary-bg p-3"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/admin/view-feeds">
                                <div
                                    class="tool-box p-3 shadow-sm d-flex justify-content-around align-items-center rounded">
                                    <div>
                                        <h2 class="fs-5">Rent Entry
                                        </h2>
                                    </div>
                                    <i
                                        class="fa-solid fa-credit-card-alt fs-1 primary-text rounded-full secondary-bg p-3"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/admin/view-forms">
                                <div
                                    class="tool-box p-3 shadow-sm d-flex justify-content-around align-items-center rounded">
                                    <div>
                                        <h2 class="fs-5">Add Supervisor
                                        </h2>
                                    </div>
                                     <i class="fa-solid fa-user-plus fs-1 primary-text rounded-full secondary-bg p-3"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/admin/view-announcements">
                                <div
                                    class="tool-box p-3 shadow-sm d-flex justify-content-around align-items-center rounded">
                                    <div>
                                        <h2 class="fs-5">Add Student
                                        </h2>
                                    </div>
                                    <i class="fa-solid fa-user fs-1 primary-text rounded-full secondary-bg p-3"></i>
                                </div>
                            </a>
                        </div>
                         
                        <div class="col-md-3">
                            <a href="/admin/data-base">
                                <div
                                    class="tool-box p-3 shadow-sm d-flex justify-content-around align-items-center rounded">
                                    <div>
                                        <h2 class="fs-5">Data Base
                                        </h2>
                                    </div>
                                    <i class="fa-solid fa-database fs-1 primary-text rounded-full secondary-bg p-3"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

